{% extends 'master.html' %}
{% load static %}
{% block header %}
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <title>Recorder</title>
    <link rel="stylesheet" href="{% static 'styles/edit_notes.css' %}">
{% endblock %}
{% block contentarea %}

<div class="container">

    <h2>Edit Details</h2>
    <p class="lead">Here you can check and change some of the details for your saved notes.</p>
    <hr class="my-4">

    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last center">
        <h4>Saved Information</h4>
        <ul class="list-group mb-3">
          <li class="list-group-item">
              <h5>Current Title:</h5>
              <h6>{{ soundFile.file_name }}</h6>
          </li>
          <li class="list-group-item">
              <h5>Current Status:</h5>
              <h6>{% if soundFile.shared %}Public{% else %}Private{% endif %}</h6>
          </li>
          <li class="list-group-item">
              <h5>Current Tempo:</h5>
              <h6>{{ tempo }}</h6>
          </li>
          <li class="list-group-item">
              <h5>Creation Date:</h5>
              <h6>{{ soundFile.pk }}</h6>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8 center">
        <h4>Changeable Details</h4>
        <form method="post">
            {% csrf_token %}
            <ul class="list-group mb-3">
              <li class="list-group-item">
                <label><strong>Title:</strong></label>
                {{ form.title }}
              </li>
              <li class="list-group-item">
                <label><strong>Tempo:</strong></label>
                {{ form.tempo }}
              </li>
              <li class="list-group-item">
                <label><strong>Public</strong></label>
                {{ form.shared }}
              </li>
            </ul>

            <button class="btn btn-secondary btn-lg" type="submit">Save</button>
            <a href="/notes/{{ soundFile.pk }}/" class="btn btn-primary btn-lg" type="submit">Go To Note's Page</a>
            <button class="btn btn-secondary btn-lg btn-danger" onclick="deleteNotes(event)">Delete</button>
        </form>
      </div>
    </div>
</div>

<!-- <script src="{% static 'scripts/edit_notes.css' %}"></script> -->
<script type="text/javascript">
    function deleteNotes(e) {
        e.preventDefault();

        if(confirm("Are you sure you want to delete these notes?")) {

            var fd = new FormData();
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fd.append('delete', 'delete');
            $.ajax({
                url: window.location.href,
                type: "POST",
                processData: false,
                contentType: false,
                data: fd,
                success: function(response) {
                    if(response.status && response.status == 'success') {
                        window.location.replace("/profile/history/");
                    }
                }});
        }
    }
</script>

{% endblock %}
