{% extends 'master.html' %}
{% load static %}
{% block header %}
    <title>LostSound-Home</title>
    <style>
        .piano-keys {
            background-image: url("{% static 'images/piano_keys.png' %}");
            background-repeat: repeat-x;
            background-size: auto 100%;
        }
    </style>
{% endblock %}
{% block contentarea %}

<main role="main">
    <div class="jumbotron piano-keys">
        <div class="container">
          <h1 class="display-3"><b>Welcome!</b></h1>
          <h6>Lost & Sound is a platform for music creators to record and save notes while automatically turning them to notes for easy sharing and redoing.<br/>start recording and sharing your music within minutes, for free!</h6>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>New To The Site?</h2>
            <p>Recording, saving and transforming is available only for users who have signed up to the website.<br/>Creating a user is easy and free for everyone!</p>
            <p><a class="btn btn-secondary" href="/register" role="button">Login / Signup &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Recording</h2>
            <p>Already signed in?<br/>Go straight to the recorder to either upload a file or record with your mic!</p>
            <p><a class="btn btn-secondary" href="/record" role="button">Recorder &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Viewing</h2>
            <p>Want to revisit your recordings and uploads?<br/>From here you can access everything that was saved!</p>
            <p><a class="btn btn-secondary" href="/profile/history" role="button">User Notes &raquo;</a></p>
          </div>
        </div>

    </div> <!-- /container -->
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
{% endblock %}
