{% extends 'master.html' %}
{% load static %}
{% block header %}
    <title>{{ mode }}</title>
    <link rel="stylesheet" href="{% static 'styles/login-register.css' %}">
{% endblock %}
{% block contentarea %}
<div class="text-center">
    <form method="post" class="form-signin">
        <img class="mb-4" src="{% static 'images/icon.png' %}" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">{% if mode == "Login" %}Login To Your Account{% else %}Create A New Account{% endif %}</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ mode }}</button>
    </form>
    {% if mode == "Login" %}
        <a href="/register/">don't have an account?</a>
    {% else %}
        <a href="/login/">Already have an account?</a>
    {% endif %}
</div>
{% endblock %}
