{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="generator" content="Hugo 0.79.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap_extra.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/master.css' %}">
    <link rel="icon" href="{% static 'images/web.ico' %}">

    {% block header %}{% endblock %}

</head>
<body>
    <main class="container fixed-container">
    <div class="master-background">
        <nav class="navbar navbar-expand-md navbar-dark" aria-label="Fourth navbar example" style="background-color: #404;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav topbar">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/record/">Record</a>
                        <a class="nav-link" href="/profile/history/">Notes</a>
                        <a class="nav-link" href="/public/notes/">Public Notes</a>
                        <a class="nav-link" {% if user.is_authenticated %} href="/logout/">Logout{% else %}href="/login/">Login{% endif %}</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="d-flex">
                        <div class="p-2 bd-highlight nav-user">Welcome back, {{user}}</div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div style="margin-top: 30px">
            {% block contentarea %}
            {% endblock %}
        </div>
        <footer class="container">
            <hr/>
            <p class="proj-name">Lost & Sound</p>
        </footer>
    </div>
    </main>
    <script>
        function setActive(){
            select = 'a[href="' + window.location.pathname + '"]';
            if(window.location.pathname=='/register/')
                select = 'a[href="/login/"]'
            elements = document.querySelectorAll(select);
            if(elements.length > 0)
                elements[0].setAttribute('class','nav-link active');
        };
        window.onload = setActive;
    </script>
</body>
</html>
