{% extends 'master.html' %}
{% load static %}
{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/@coderline/alphatab@latest/dist/alphaTab.js"></script>
    <script src="https://kit.fontawesome.com/b43f0e512e.js"></script>
    <title>View Notes</title>
    <link rel="stylesheet" href="{% static 'styles/notes.css' %}">
{% endblock %}
{% block contentarea %}
<!--
All of the elements and scripts below are Alphatab
-->
<div class="at-wrap" style="background-color: white;" data-tex="true">
    <div class="at-overlay" data-tex="true">
        <div class="at-overlay-content">
            Music sheet is loading
        </div>
    </div>
    <div class="at-content" data-tex="true">
        <div class="at-sidebar">
            <div class="at-sidebar-content">
                <div class="at-track-list"></div>
            </div>
        </div>
        <div class="at-viewport">
            <div class="at-main"></div>
        </div>
    </div>
    <div class="at-controls">
        <div class="at-controls-left">
            <a class="btn at-player-stop disabled">
                <i class="fas fa-step-backward"></i>
            </a>
            <a class="btn at-player-play-pause disabled">
                <i class="fas fa-play"></i>
            </a>
            <span class="at-player-progress">0%</span>
            <div class="at-song-info">
                <span class="at-song-title"></span> -
                <span class="at-song-artist"></span>
                <a href="edit/" class="btn at-player-play-pause">Edit Details</a>
            </div>
        </div>
        <div class="at-controls-right">
            <a class="btn toggle at-count-in">
                <i class="fas fa-hourglass-half"></i>
            </a>
            <a class="btn at-metronome">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn at-loop">
                <i class="fas fa-retweet"></i>
            </a>
            <a class="btn at-print">
                <i class="fas fa-print"></i>
            </a>
            <div class="at-zoom">
                <i class="fas fa-search"></i>
                <select>
                    <option value="25">25%</option>
                    <option value="50">50%</option>
                    <option value="75">75%</option>
                    <option value="90">90%</option>
                    <option value="100" selected>100%</option>
                    <option value="110">110%</option>
                    <option value="125">125%</option>
                    <option value="150">150%</option>
                    <option value="200">200%</option>
                </select>
            </div>
            <div class="at-layout">
                <select>
                    <option value="horizontal">Horizontal</option>
                    <option value="page" selected>Page</option>
                </select>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // load elements
    const wrapper = document.querySelector(".at-wrap");
    const main = wrapper.querySelector(".at-main");

    // initialize alphatab
    const settings = {
        file: "{% static "/saved_notes/" %}//{{ id }}.txt",
        player: {
            enablePlayer: true,
            soundFont: 'https://cdn.jsdelivr.net/npm/@coderline/alphatab@latest/dist/soundfont/sonivox.sf2',
            scrollElement: wrapper.querySelector('.at-viewport') // this is the element to scroll during playback
        }
    };
    const api = new alphaTab.AlphaTabApi(main, settings);

    // overlay logic
    const overlay = wrapper.querySelector(".at-overlay");
    api.renderStarted.on(() => {
        overlay.style.display = 'flex';
    });
    api.renderFinished.on(() => {
        overlay.style.display = 'none';
    });

    /** Controls **/
    api.scoreLoaded.on((score) => {
        wrapper.querySelector('.at-song-title').innerText = score.title;
        wrapper.querySelector('.at-song-artist').innerText = score.artist;
    });

    const countIn = wrapper.querySelector('.at-controls .at-count-in');
    countIn.onclick = () => {
        countIn.classList.toggle('active');
        if (countIn.classList.contains('active')) {
            api.countInVolume = 1;
        } else {
            api.countInVolume = 0;
        }
    };

    const metronome = wrapper.querySelector('.at-controls .at-metronome');
    metronome.onclick = () => {
        metronome.classList.toggle('active');
        if (metronome.classList.contains('active')) {
            api.metronomeVolume = 1;
        } else {
            api.metronomeVolume = 0;
        }
    };

    const loop = wrapper.querySelector('.at-controls .at-loop');
    loop.onclick = () => {
        loop.classList.toggle('active');
        api.isLooping = loop.classList.contains('active');
    };

    wrapper.querySelector('.at-controls .at-print').onclick = () => { api.print(); };
    const zoom = wrapper.querySelector('.at-controls .at-zoom select');

    zoom.onchange = () => {
        const zoomLevel = parseInt(zoom.value) / 100;
        api.settings.display.scale = zoomLevel;
        api.updateSettings();
        api.render();
    };

    const layout = wrapper.querySelector('.at-controls .at-layout select');

    layout.onchange = () => {
        switch (layout.value) {
            case 'horizontal':
                api.settings.display.layoutMode = alphaTab.LayoutMode.Horizontal;
                break;
            case 'page':
                api.settings.display.layoutMode = alphaTab.LayoutMode.Page;
                break;
        }
        api.updateSettings();
        api.render();
    };

    const playerIndicator = wrapper.querySelector(".at-controls .at-player-progress");
    api.soundFontLoad.on((e) => {
        const percentage = Math.floor((e.loaded / e.total) * 100);
        playerIndicator.innerText = percentage + "%";
    });

    api.playerReady.on(()=>{
        playerIndicator.style.display = 'none';
    });

    const playPause = wrapper.querySelector(".at-controls .at-player-play-pause");
    const stop = wrapper.querySelector(".at-controls .at-player-stop");

    playPause.onclick = (e) => {
        if (e.target.classList.contains("disabled")) { return; }
        api.playPause();
    };

    stop.onclick = (e) => {
        if (e.target.classList.contains("disabled")) { return; }
        api.stop();
    };

    api.playerReady.on(() => {
        playPause.classList.remove("disabled");
        stop.classList.remove("disabled");
    });

    api.playerStateChanged.on((e) => {
        const icon = playPause.querySelector("i.fas");
        if (e.state === alphaTab.synth.PlayerState.Playing) {
            icon.classList.remove("fa-play");
            icon.classList.add("fa-pause");
        } else {
            icon.classList.remove("fa-pause");
            icon.classList.add("fa-play");
        }
    });

</script>
{% endblock %}
