{% extends 'master.html' %}
{% load static %}
{% block header %}
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <title>Mic Recorder</title>
    <link rel="stylesheet" href="{% static 'styles/record_mic.css' %}">
{% endblock %}
{% block contentarea %}
<div class="jumbotron cover-container mx-auto flex-column" style="text-align: center;">
    <main role="main">
        <h1 class="cover-heading" style="color: #00f">Microphone Recorder</h1>
        <p class="lead" style="color: #888">
            Press on the play button in order to start recording.
            <br/>To stop recording, press the stop button, then you will be able to give the recording a name and decide if to make it public or private.
            <br/>You will also be able to discard the recording.
            <br/>After finishing, you will be able to make another recording.
        </p>
    </main>
</div>

<div class="jumbotron cover-container mx-auto flex-column cover" style="text-align: center;">
    <main role="main" class="cover">
        <div class="buttons" id="controls">
            <label for="recordButton">
                <img id="startImg" class="record" width="100" height="100" style="cursor: pointer;" src="{% static 'images/start_recording.png' %}">
            </label>
            <label for="stopButton">
                <img id="stopImg" class="record" width="100" height="100" style="opacity: 35%; cursor: not-allowed;" src="{% static 'images/stop_recording.png' %}">
            </label>
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
            <section class="main-controls">
                <!-- The visual audio line -->
                <canvas class="visualizer" height="60px"></canvas>
                <h2 id="timer" class="cover-heading">00:00</h2>
            </section>
        </div>
    </main>
</div>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script>
    URL = window.URL || window.webkitURL;

    var gumStream; 						//stream from getUserMedia()
    var rec; 							//Recorder.js object
    var input; 							//MediaStreamAudioSourceNode we'll be recording
    var seconds = 0;

    // shim for AudioContext when it's not avb.
    var AudioContext = window.AudioContext || window.webkitAudioContext;
    var audioContext //audio context to help us record

    var recordButton = document.getElementById("recordButton");
    var stopButton = document.getElementById("stopButton");
    var timer = document.getElementById("timer");

    const canvas = document.querySelector('.visualizer');
    const mainSection = document.querySelector('.main-controls');
    let audioCtx;
    let backColor = 'rgb(200, 200, 200)'
    let lineColor = 'rgb(0, 0, 0)'
    const canvasCtx = canvas.getContext("2d");

    var file_name;
    var shared;

    function recordAndUpload(blob) {

        var fd = new FormData();
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fd.append('file', blob);
        fd.append('file_name', file_name);
        fd.append('shared', shared);
        $.ajax({
            url: "{% url 'record_mic' %}",
            type: "POST",
            processData: false,
            contentType: false,
            data: fd,
            success: function(response) {
            window.location.replace("/process/" + response.id +"/")
            }});
    }

    var constraints = { audio: true, video:false };

    /* promise based getUserMedia() */

    navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {

        visualize(stream);

        /*
            create an audio context after getUserMedia is called
            sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
            the sampleRate defaults to the one set in your OS for your playback device

        */

        var countTime = window.setInterval(function(){
            if(recordButton.disabled)
            {
                seconds++;
                timer.innerHTML = (Math.floor(seconds/60) >= 10 ? Math.floor(seconds/60) : "0" + Math.floor(seconds/60)) + ":" + (seconds%60 >= 10 ? seconds%60 : "0" + seconds%60);
                if (seconds == 180)
                    stopButton.click();
            }
        }, 1000);

        recordButton.onclick = function() {
            seconds = 0;

            /*
                Disable the record button until we get a success or fail from getUserMedia()
            */

            recordButton.disabled = true;
            stopButton.disabled = false;
            document.getElementById("startImg").style.opacity = "35%";
            document.getElementById("startImg").style.cursor = "not-allowed";
            document.getElementById("stopImg").style.opacity = "100%";
            document.getElementById("stopImg").style.cursor = "pointer";
            backColor = 'rgb(255, 100, 100)';
            lineColor = 'rgb(255, 255, 255)';

            audioContext = new AudioContext();

            /*  assign to gumStream for later use  */
            gumStream = stream;

            /* use the stream */
            input = audioContext.createMediaStreamSource(stream);

            /*
                Create the Recorder object and configure to record mono sound (1 channel)
                Recording 2 channels  will double the file size
            */
            rec = new Recorder(input,{numChannels:1})

            //start the recording process
            rec.record()

         }

        stopButton.onclick = function() {

            //disable the stop button, enable the record to allow for new recordings
            stopButton.disabled = true;
            recordButton.disabled = false;
            document.getElementById("stopImg").style.opacity = "35%";
            document.getElementById("stopImg").style.cursor = "not-allowed";
            document.getElementById("startImg").style.opacity = "100%";
            document.getElementById("startImg").style.cursor = "pointer";
            backColor = 'rgb(200, 200, 200)';
            lineColor = 'rgb(0, 0, 0)';

            //tell the recorder to stop the recording
            rec.stop();

            //stop microphone access
            if(seconds > 180)
                alert("Maximum recording time reached!")
            file_name = prompt('Enter the name for the audio (cancel to abort):') + '.wav';
            while(file_name=='.wav')
              file_name = prompt('Name cannot be empty') + '.wav';
            if(file_name=='null.wav')
              alert("Didn\'t send the audio.");
            else
            {
              shared = prompt('Would you like the audio to be public? (y/n) (cancel to abort):');
              while(shared != 'y' && shared != 'n' && shared != null)
                  shared = prompt('Please enter either \'y\' or \'n\':');
              if(shared==null)
                  alert("Didn\'t send the audio.");
              else
                  rec.exportWAV(recordAndUpload);
            }
            timer.innerHTML = "00:00";
        }
    }).catch(function(err) {
        //enable the record button if getUserMedia() fails
        stopButton.disabled = true;
        recordButton.disabled = false;
        document.getElementById("stopImg").style.opacity = "35%";
        document.getElementById("stopImg").style.cursor = "not-allowed";
        document.getElementById("startImg").style.opacity = "100%";
        document.getElementById("startImg").style.cursor = "pointer";
        backColor = 'rgb(200, 200, 200)';
        lineColor = 'rgb(0, 0, 0)';
      });

    function visualize(stream) {
        if(!audioCtx) {
          audioCtx = new AudioContext();
        }

        const source = audioCtx.createMediaStreamSource(stream);

        const analyser = audioCtx.createAnalyser();
        analyser.fftSize = 2048;
        const bufferLength = analyser.frequencyBinCount;
        const dataArray = new Uint8Array(bufferLength);

        source.connect(analyser);
        //analyser.connect(audioCtx.destination);

        draw()

        function draw() {
          const WIDTH = canvas.width;
          const HEIGHT = canvas.height;

          requestAnimationFrame(draw);

          analyser.getByteTimeDomainData(dataArray);

          canvasCtx.fillStyle = backColor;
          canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

          canvasCtx.lineWidth = 2;
          canvasCtx.strokeStyle = lineColor;

          canvasCtx.beginPath();

          let sliceWidth = WIDTH * 1.0 / bufferLength;
          let x = 0;


          for(let i = 0; i < bufferLength; i++) {

            let v = dataArray[i] / 128.0;
            let y = v * HEIGHT/2;

            if(i === 0) {
              canvasCtx.moveTo(x, y);
            } else {
              canvasCtx.lineTo(x, y);
            }

            x += sliceWidth;
          }

          canvasCtx.lineTo(canvas.width, canvas.height/2);
          canvasCtx.stroke();

        }
  }

  window.onresize = function() {
    canvas.width = mainSection.offsetWidth;
  }

  window.onresize();
</script>

<script class="_iub_cs_activate-inline" type="text/plain">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-133914-18', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
{% endblock %}
