{% extends 'master.html' %}
{% load static %}
{% block header %}
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <title>Recorder</title>
    <link rel="stylesheet" href="{% static 'styles/record.css' %}">
{% endblock %}
{% block contentarea %}
<div class="container">

    <div class="jumbotron p-3 p-md-5 text-white rounded custom-background">
        <div class="col-md-6 px-0">
            <h1>Recorder</h1>
            <p class="lead my-3">Here you can upload an audio file or record audio.</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250 custom-background">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="d-inline-block mb-2 text-primary">Upload File</h3>
                    <p class="card-text mb-auto">Upload audio that will be transferred into notes.<br/>Supported types: mp3, wav, ogg.</p>
                    <label for="file-input" class="file-input-text text-primary">
                        <a>Start Now!</a>
                    </label>
                </div>
                <form id="file_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- replace form button with image -->
                    <label for="file-input" class="card-img-right flex-auto d-none d-md-block">
                        <img id="fileImage" class="card-img-right flex-auto d-none d-md-block" src="{% static 'images/file_upload.jpg' %}" />
                    </label>

                    {{ form.file }}
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250 custom-background">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="d-inline-block mb-2 text-success">Record Audio</h3>
                    <p class="card-text mb-auto">Record audio right now in real time with no need for a pre-recorded audio file.</p>
                    <a href="mic/" class="text-success">Start Now!</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="{% static 'images/microphone_upload.png' %}" onclick="window.location='mic/';">
            </div>
        </div>
    </div>
    {% if error %}
        <div style="color: red" id="error-msg">
            <b>{{ error }}</b>
        </div>
    {% endif %}
</div>

<script>
    document.getElementById("file_form").onsubmit = function(e) {
        e.preventDefault();
        var shared = prompt('Would you like the audio to be public? (y/n) (cancel to abort):');
        while(shared != 'y' && shared != 'n' && shared != null)
            shared = prompt('Please enter either \'y\' or \'n\':');
        if(shared==null)
        {
            alert("Didn\'t send the audio.");
            window.location.replace("/record/");
        }
        else
        {
            var fd = new FormData();
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fd.append('file', document.getElementById("file-input").files[0]);
            fd.append('shared', shared);
            $.ajax({
                url: "{% url 'record' %}",
                type: "POST",
                processData: false,
                contentType: false,
                data: fd,
                success: function(response) {
                window.location.replace("/process/" + response.id +"/")
            }});
        }
    }
</script>
{% endblock %}
