{% extends 'master.html' %}
{% load static %}
{% block header %}
    <title>Your Saved Notes</title>
    <link rel="stylesheet" href="{% static 'styles/user_notes.css' %}">
{% endblock %}
{% block contentarea %}
<div class="container scroller">
    {% if notes %}
        <div class="row">
            {% for note in notes %}
            <div class="col-md-12" style="cursor: pointer;" onclick="window.location='/notes/{{note.id}}/';">
                <h4>{{note.title}}</h4>
                <div class="row">
                    {% if mode == 'user' %}
                        <div class="col-md-6">Created At: <b>{{note.date}}</b></div>
                        {% if note.shared == 'True' %}
                            <div class="col-md-6">Status: <label style="color: #cc33ff;"><b>public</b></label></div>
                        {% else %}
                            <div class="col-md-6">Status: <label style="color: grey;"><b>private</b></label></div>
                        {% endif %}
                    {% else %}
                        <div class="col-md-6">Created By: <b>{{note.owner}}</b></div>
                        <div class="col-md-6">Created At: <b>{{note.date}}</b></div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% if mode == 'user' %}
            <div class="container">
                <h2>You don't have any saved notes.</h2>
                <p>Go record some right now!</p>
            </div>
        {% else %}
            <div class="container">
                <h2>There are currently no public notes.</h2>
                <p>Be the first to publish your idea to the public!</p>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
