.btn {
    margin-top: 1.5rem;
    color: white;
}

.center {
    text-align: center;
}

input[type='checkbox'] {
  zoom: 1.3;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.5);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

input {
  text-align: center;
}
