html, body {
    height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.master-background {
    width: 100%;
    min-height: 100% !important;
    top: 0;
    left: 0;

	background: linear-gradient(-45deg, #66ff99, #00cc99, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.proj-name {
    opacity: 60%
}

/* Add a black background color to the top navigation */
.topbar {
  background-color: #404 /* Color Not Found */;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topbar a {
  font-size: 19px;
  transition: 0.4s;
  margin-right: 1rem;
}

.nav-user {
    color: white;
    font-size: 20px;
}

/* Change the color of links on hover */
.topbar a:hover {
  background-color: #6b0060;
  color: #f0f;
}

.fixed-container {
    min-width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
