.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.custom-background {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,1,48,1) 60%, rgba(9,9,119,1) 70%, rgba(0,212,255,1) 100%);
    background-size: 400% 400%;
    background-position: 80% 50%;
}

.custom-background p {
    color: rgba(200, 200, 200, 1);
    margin-top: 1rem;
}

.custom-background h3 {
    margin-top: 1rem;
}

.custom-background img {
    cursor: pointer;
}

.custom-background label {
    margin-right: -2rem;
}

.file-input-text {
    cursor: pointer;
    margin-top: 2.5rem;
}
