body {
	line-height: 1.5;
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color:black;
}

h1 {
	font-size: 220%;
	font-weight: bold;
}

#controls {
  display: flex;
  margin-top: 2rem;
  max-width: 28em;
}

audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}

#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}

.cover-container {
  max-width: 42em;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.buttons button {
    display: none;
}

.buttons section {
    margin-top: 2rem;
    margin-left: 1.3rem;
}

.record {
    margin-top: 0.5rem;
    margin-right: 1.3rem;
}
