.row {
  margin-bottom: 1rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid rgba(200, 200, 200, 1);
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

[class*="col-"]:hover {
  background-color: rgba(223, 128, 255, .6);
  border: 2px solid rgba(172, 0, 230, .6);
}

[class*="col-"]:hover .col-md-6 {
  background-color: rgba(242, 204, 255, .6);
  border: 2px solid rgba(172, 0, 230, .6);
}

[class*="col-"]:hover h4 {
  color: white;
}

.scroller {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 500px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
